<div class="cmpt-objectives-by-team">
	<cmpt-ui-loader ng-if="vm.isLoading"></cmpt-ui-loader>
	<div class="team-list" ng-show="vm.teams.length > 0">
		<form class="form-search">
			<label class="input-search">
				<i class="fa fa-search"></i>
			  <input type="text" class="input ico-search"  name="name" placeholder="Search team" ng-model="vm.search">
			</label>
			<div ng-repeat="team in vm.teams | filter: vm.search" ng-init="team.expanded = false">
				<div class="team-container">
					<div class="team-name" ng-class="{'expanded': team.expanded}" ng-click="team.expanded = !team.expanded">
						{{ team.teamName }}
						<span>
							<i class="fa fa-chevron-down"></i>
						</span>
					</div>
					<div class="objective-container" class="" ap-show-slide="team.expanded">
						<cmpt-objectives-manage-objectives
			        ng-if="selectedPi && team.$id"
			        selected-pi="selectedPi"
			        selected-team="team.$id"
			        type="1"
			      ></cmpt-objectives-manage-objectives>

						<cmpt-objectives-manage-objectives
			        ng-if="selectedPi && team.$id"
			        selected-pi="selectedPi"
			        selected-team="team.$id"
			        type="2"
			      ></cmpt-objectives-manage-objectives>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
