<div class="cmpt-objectives-by-team">
	<cmpt-ui-loader ng-if="vm.isLoading"></cmpt-ui-loader>
	<div class="team-list" ng-show="vm.teams.length > 0">
		<form class="form-search">
			<label class="input-search">
				<i class="fa fa-search"></i>
			  <input type="text" class="input ico-search"  name="name" placeholder="Search team" ng-model="vm.search">
			</label>
			<div ng-repeat="team in vm.teams | filter: vm.search">
				<div class="team-container">
					<div class="team-name" slide-toggle="#drp-{{ $index }}">
						{{ team.teamName }}
						<i class="fa fa-arrow-down"></i>
					</div>
					<div class="objective-container slideable" id="drp-{{ $index }}" class="">
						<cmpt-objectives-manage-objectives
			        ng-if="selectedPi && team.$id"
			        selected-pi="selectedPi"
			        selected-team="team.$id"
			        type="1"
			      ></cmpt-objectives-manage-objectives>

						<cmpt-objectives-manage-objectives
			        ng-if="selectedPi && team.$id"
			        selected-pi="selectedPi"
			        selected-team="team.$id"
			        type="2"
			      ></cmpt-objectives-manage-objectives>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
