@import "variables.styl"
.cmpt-objectives-by-team {
	.input-search{
		position: relative;
		.input{
			&.ico-search{
				padding-left: 40px;
				font-size: 25px;
			}
		}
		i {
			color: $ap-light-grey-4;
			top: 23px;
			left: 15px;
			position: absolute;
		}
	}

	.team-container{
		background: $augmentedColorLight;
		margin: 10px 0;
		.team-name{
			cursor: pointer;
			position: relative;
			color: $ap-light-grey-4;
			background: lighten($augmentedColorLight,10%);
			padding: 15px;
			span {
				cursor: pointer;
				background: lighten($augmentedColorLight,6%);
				position: absolute;
				right: 0;
		    line-height: 2.98;
		    top: 0;
		    width: 50px;
		    text-align: center;
				&:hover{
					background: lighten($augmentedColorLight,2%);
				}
			}
			i.fa-chevron-down {
				transform: rotate(0deg);
  			transition: transform 200ms linear;
			}
			&.expanded{
				i.fa-chevron-down{
					transform: rotate(-180deg);
  				transition: transform 200ms linear;
				}
			}
		}
		.objective-container{
			.cmpt-objectives-manage-objectives{
				padding: 10px;
			}
		}
	}

}
