@import "variables.styl"
.route-home-home {
	.section{
		display: flex;
		.left-section{
			flex: 2 2 20em;
		}
		.right-section{
			flex: 1 1 10em;
			padding: 0 2em;
			.actions{
				border: 1px solid darken($augmentedColorLight,10%);
				background: lighten($augmentedColorLight,5%);			
				padding: 10px;
			}
		}
	}
}
