@import "variables.styl"

$default-button-bg = #28597b;
$positive-button-bg = $mediumGreen;
$primary-button-bg = $mediumBlue;
$negative-button-bg = $mediumRed;
$grey-button-bg = #8b8b8b;

body {
	margin: 0;
	font-family: 'Ropa Sans';
	height: 100%;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	background: $baseColorLight;
}

*:focus {
    outline: none;
}

h1{
	color: $ap-light-grey-4;
	font-weight: bold;
	margin: 0.2em 0;
}

.table{
	color:$ap-light-grey-4;
	border: 1px solid darken($default-button-bg,10%);
	th {
		padding: 10px;
		text-align: left;
	}
	td {
		padding: 2px 10px;
		text-align: left;
	}
	thead{
		tr{
			border: 1px solid darken($default-button-bg,10%);
			th{
				background-color: $default-button-bg;
			}
		}
	}
	tbody{
		tr{
			border: 1px solid darken($default-button-bg,10%);

				&:hover{
					background-color: #1d3444;
				}

		}
	}

}


.input{
	display: inline-block;
	padding: 6px 12px;
	margin: 5px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	box-shadow: 1px 1px 3px rgba(0, 27, 42, .8);
  border: 1px solid #08496a;
  background: rgba(0, 66, 85, .2);
	color: $ap-light-grey-4;
	border-radius: 2px;
}


.button {
	display: inline-block;
	padding: 6px 12px;
	margin: 5px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	background-color: #28597b;
	color: $ap-light-grey-4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: none;
	border-radius: 4px;
	span {
		margin-left: 5px;
	}
	&:hover {
		background-color: darken($default-button-bg, 10%);
	}

	&:disabled{
		opacity: 0.3;
	}

	&.button-positive {
    	background-color: $positive-button-bg;

		&:hover {
	    	background-color: darken($positive-button-bg, 5%);
		}
	}

	&.button-primary {
    	background-color: $primary-button-bg;
  	&:hover {
	    	background-color: darken($primary-button-bg, 10%);
		}
	}

	&.button-negative {
    	background-color: $negative-button-bg;
			&:hover {
	    	background-color: darken($negative-button-bg, 5%);
		}
	}

	&.button-default {
    	background-color: $grey-button-bg;
			&:hover {
	    	background-color: darken($grey-button-bg, 5%);
		}
	}
}




.dialog-popup {

	.ngdialog-message {
		& > div {
			margin: 0 1rem 1rem 1rem;
		}

	 	.header {
			font-size: 1.2rem;
			color: $ap-light-grey-4;
			background: none repeat scroll 0% 0% $default-button-bg;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			margin: 0 0 1rem 0;
			padding: 0.7rem 2.7rem 0.7rem 1rem;
		}

		.content {
			font-size: 1rem;
		}
	}

	.ngdialog-buttons {

		a {
			float:right;
			margin-left: 5px;

			&.fl-link {
				font-size: 14px;
				margin: 6px 24px;
				color: $ap-dark-grey-1;
				cursor:pointer;
			}
			i{
				margin-right: 5px;
			}

		}
	}
}

.ngdialog-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.ngdialog-close {
	content: '\f05c';
}
