position(pos) {
	position: pos;

	if (pos == fixed) {
		-webkit-transform: translateZ(0);
	}
}

userSelect(option) {
	-webkit-touch-callout: option;
	  -webkit-user-select: option;
	   -khtml-user-select: option;
		 -moz-user-select: option;
		  -ms-user-select: option;
			  user-select: option;
}

hyphenate() {
	//Does this work?  It seems to break the words in the wrong place and doesn't add any hyphens.
	//https://css-tricks.com/almanac/properties/h/hyphenate/

	-ms-word-break: break-word;
        word-break: break-word;

    // Non standard for webkit
    word-break: break-word;
}
