$baseColorLight = #132a3b;
$baseColorDark = #000a13;

$augmentedColorDark = #001322;
$augmentedColorLight = #113148;

/* Ground & Figure */
$ap-light-grey-1 = #E4E4E4;
$ap-light-grey-2 = #F7F7F7;
$ap-light-grey-3 = #FAFAFA;
$ap-light-grey-4 = #FFFFFF;

/* Typography */
$ap-dark-grey-1 = #404040;
$ap-dark-grey-2 = #606060;
$ap-dark-grey-3 = #8A8A8A;
$ap-dark-grey-4 = #BABABA;

$lightBlue = #00deff;
$mediumBlue = #00AAFF;
$darkBlue = #0076ff;
$mediumGreen = darken(#00C7C3,25%);
$mediumRed = #D95B5B;



$top-bar-min-height = 70px;
