@import "variables.styl"
.cmpt-dashboard-team-progress {
	.team-container{
		color: $ap-light-grey-4;
		display: flex;
		.team-name{
			line-height: 3;
			font-size: 1.2vw;
			flex: 1 0 0;
		}
		.team-commitment{
			padding: 5px;
			flex: 2 0 0;
		}
		.team-stretch{
			padding: 5px;
			flex: 1 0 0;
		}
	}
}
