<div class="cmpt-dashboard-team-progress">
	<div class="team-container">
		<cmpt-ui-pulse ng-show="vm.showPluse"></cmpt-ui-pulse>
		<div class="team-name">
			{{ team.teamName }} - {{ team.owner }}
		</div>
		<div class="team-commitment">
			<cmpt-ui-simple-progress-bar percentage="team.commitment.percentage" cls="green">
				<span class="status">({{ team.commitment.done }}/{{ team.commitment.total }} POINTS)</span>
			</cmpt-ui-simple-progress-bar>
		</div>
		<div class="team-stretch">
			<div ng-if="team.stretch !== null">
				<cmpt-ui-simple-progress-bar percentage="team.stretch.percentage" cls="dark">
					 <span class="status">({{ team.stretch.done }}/{{ team.stretch.total }} POINTS)</span>
				</cmpt-ui-simple-progress-bar>
			</div>
			<div ng-if="team.stretch === null" class="no-stretch" >NO STRETCH GOALS</div>
		</div>
	</div>
</div>
