@import "variables.styl"
.cmpt-landing-page-pi-status-chart {	
	padding: 2em;
	background: lighten($augmentedColorLight,5%);
	h1 {
		text-align: center;
		margin: 0 0 10px 0;
		span {
			font-size: 18px;
			color: $ap-dark-grey-3;
		}
	}
}
