<div class="cmpt-login-sign-up">
	<div class="content -g">
		<div class="-u-12-24 logo">
			<cmpt-login-logo></cmpt-login-logo>
		</div>
		<div class="-u-12-24 sign-up-form">
			<div class="title">Sign Up</div>
			<div class="-g two-side-by-side">
				<div class="-u-12-24"><input type="text" class="input" placeholder="First Name" name="name" value=""></div>
				<div class="-u-12-24"><input type="text" class="input" placeholder="Last Name" name="name" value=""></div>
			</div>
			<div>
				<input type="text" class="input" placeholder="Email" name="name" value="">
			</div>
			<div>
				<input type="text" class="input" placeholder="User Id" name="name" value="">
			</div>
			<div>
				<input type="password" class="input" placeholder="Password" name="name" value="">
			</div>
			<div>
				<input type="password" class="input" placeholder="Re-Password" name="name" value="">
			</div>
			<div>
				<button class="button button-positive">Sign Up</button>
			</div>
		</div>
	</div>
</div>
