@import "variables.styl"
.cmpt-login-sign-up {
	background: $baseColorLight;
	height: calc(100vh - 40px);
	.content{
		margin: 0 auto;
    padding-top: 13px;
		padding-bottom: 13px;
    width: 980px
		.logo{
			margin: 80px 0;
			img{
				width: 450px;
			}
		}
		.sign-up-form{
			> div{
				margin: 5px 0;
			}
			.title{
				color: $ap-light-grey-4;
				font-weight: bold;
				font-size: 24px;
			}
			.button{
				font-size: 25px;
				width: 200px;
			}
			.input{
				font-size: 25px;
				width: 454px;
			}
			.two-side-by-side{
				.input{
					width: 210px
				}
			}
		}
	}
}
