<div class="cmpt-login-sign-up">
	<div class="content -g">
		<div class="-u-12-24 logo">
			<cmpt-login-logo></cmpt-login-logo>
		</div>
		<div class="-u-12-24 sign-up-form">
			<form name="myForm" ng-submit="go.createUser()">
				<div class="title">Sign Up</div>
				<div class="-g two-side-by-side">
					<div class="-u-12-24">
						<input type="text" name="firstName" class="input" placeholder="First Name" name="name" value="" ng-model="vm.user.firstName" required>
						<div ng-messages="myForm.firstName.$error" role="alert">
					    <div ng-message="required">Enter First Name</div>
					  </div>
					</div>
					<div class="-u-12-24">
						<input type="text" name="lastName" class="input" placeholder="Last Name" name="name" value="" ng-model="vm.user.lastName" required>
						<div ng-messages="myForm.lastName.$error" role="alert">
							<div ng-message="required">Enter Last Name</div>
						</div>
					</div>
				</div>
				<div>
					<input type="email" class="input" placeholder="Email" name="name" value="" ng-model="vm.user.email" required>
				</div>
				<div>
					<input type="password" name="password" class="input" placeholder="Password" name="name" value="" ng-model="vm.user.password" equals="{{ vm.confirmPassword }}" required>
				</div>
				<div>
					<input type="password" name="confirmPassword" class="input" placeholder="Re-Password" name="name" value="" ng-model="vm.confirmPassword" equals="{{ vm.user.password }}" required>
				</div>
				<div>
					<button class="button button-positive" ng-disabled="myForm.$valid">Sign Up</button>
				</div>
			</form>
		</div>
	</div>
</div>
