.cmpt-ui-time-line {
	display: flex;
	.cmpt-ui-simple-progress-bar{
		flex: 1;
    margin-left: 2px;
		margin-right: 2px;
    float: left;
		.progressBar{
			height: 1vw;
			.arrow-status{
				span, sup {
					display: none;
				}
			}
		}
	}
}
