@import "variables.styl"
.cmpt-landing-page-pi-trends {
	.dropdown{
		margin-bottom: 2vh;
	}
	.no-data{
		font-size: 1.5vw;
		color: $darkBlue;
		border: 2px dashed $darkBlue;
		padding: 1.5vw;
		text-align: center;
	}
}
