<div class="dialog-popup modal-team-org">
	<div class="ngdialog-message">
		<div class="header">{{ngDialogData.header}}</div>
    <div class="content">
      <div><input type="text" class="input" placeholder="Name" ng-model="ngDialogData.team.teamName"></div>
			<div class="dropdown">
				<select class="dropdown-select" ng-options="user.$id as user.firstName + ',' + user.lastName for user in ngDialogData.users" ng-model="ngDialogData.team.ownerId">
				  <option value="">Please select Team Owner</option>
				</select>
			</div>
		</div>
	</div>
	<div class="ngdialog-buttons">
    <a class="fl-button {{ button.cls }}"
      ng-click="button.action(ngDialogData.selectedId)"
      ng-repeat="button in ngDialogData.buttons">
      <i class="fa {{ button.icon }}"></i>
    {{ button.title }}</a>
	</div>
</div>
