<div class="dialog-popup modal-create-user">
	<div class="ngdialog-message">
		<div class="header">{{ngDialogData.header}}</div>
    <div class="content">
      <div class="-g">
        <div class="label -u-8-24">First Name</div>
        <div class="-u-16-24"><input type="text" class="input" ng-model="ngDialogData.user.firstName"></div>
      </div>
      <div class="-g">
        <div class="label -u-8-24">Last Name</div>
        <div class="-u-16-24"><input type="text" class="input" ng-model="ngDialogData.user.lastName"></div>
      </div>
      <div class="-g">
        <div class="label -u-8-24">Email</div>
        <div class="-u-16-24"><input type="text" class="input" ng-model="ngDialogData.user.email"></div>
      </div>
    </div>
	</div>
	<div class="ngdialog-buttons">
    <a class="fl-button {{ button.cls }}"
      ng-click="button.action(ngDialogData.selectedId)"
      ng-repeat="button in ngDialogData.buttons">
      <i class="fa {{ button.icon }}"></i>
    {{ button.title }}</a>
	</div>
</div>
