<div class="dialog-popup modal-create-user">
	<div class="ngdialog-message">
		<div class="header">{{ngDialogData.header}}</div>
    <div class="content">
      <div><input type="text" class="input" ng-model="ngDialogData.user.firstName" placeholder="Enter First Name"></div>
      <div><input type="text" class="input" ng-model="ngDialogData.user.lastName" placeholder="Enter Last Name"></div>
      <div><input type="email" class="input" ng-model="ngDialogData.user.email" placeholder="Enter Email"></div>
    </div>
	</div>
	<div class="ngdialog-buttons">
    <a class="fl-button {{ button.cls }}"
      ng-click="button.action(ngDialogData.selectedId)"
      ng-repeat="button in ngDialogData.buttons">
      <i class="fa {{ button.icon }}" ng-class="{ 'fa-spinner fa-spin': button.loading }"></i>
    {{ button.title }}</a>
	</div>
</div>
