<div class="dialog-popup modal-create-org">
	<form name="orgForm">
			<div class="ngdialog-message">
				<div class="header">{{ngDialogData.header}}</div>
				<div class="content">
		      <div>
							<input name="orgName" type="text" class="input" placeholder="Name" ng-model="ngDialogData.org.orgName" required ng-minlength="6">
							<div ng-messages="orgForm.orgName.$touched && orgForm.orgName.$error" role="alert"  class="validation-messages">
								<div ng-message="required">Enter Organization Name</div>
								<div ng-message="minlength">Length of Organization Name should be at least 6 characters long</div>
							</div>
					</div>
				</div>
			</div>
			<div class="ngdialog-buttons" ng-class="{'disabled' : orgForm.$invalid}">
		    <a class="fl-button {{ button.cls }}"
		      ng-click="button.action(orgForm)"
		      ng-repeat="button in ngDialogData.buttons">
		      <i class="fa {{ button.icon }}"></i> {{ button.title }}
				</a>
			</div>
	</form>
</div>
