<div class="dialog-popup modal-programIncrement-setup">
	<form name="programIncrementForm">
			<div class="ngdialog-message">
				<div class="header">{{ngDialogData.header}}</div>
		    <div class="content">
					<div class="input-container">
							<input name="title"           type="text"   class="input" ng-model="ngDialogData.pi.title"           placeholder="Enter Title"                    required>
							<div ng-messages="programIncrementForm.title.$touched && programIncrementForm.title.$error" role="alert"  class="validation-messages">
								<div ng-message="required">Enter Title</div>
							</div>

							<input name="description"     type="text"   class="input" ng-model="ngDialogData.pi.description"     placeholder="Enter Description"              required>
							<div ng-messages="programIncrementForm.description.$touched && programIncrementForm.description.$error" role="alert"  class="validation-messages">
								<div ng-message="required">Enter Description</div>
							</div>

							<datepicker class="angular-datepicker-input" date-format="MM/dd/yyyy"  date-set="{{ngDialogData.currentDate | date: 'MM/dd/yyyy'}}">
									<input name="startDate"
												 class="input input-date"
												 type="text"
												 ng-model="ngDialogData.pi.startDate"
												 placeholder="Enter Start date"
												 required
									>
							</datepicker>

							<div ng-messages="programIncrementForm.startDate.$touched && programIncrementForm.startDate.$error" role="alert"  class="validation-messages">
								<div ng-message="required">Enter Start Date</div>
								<div ng-message="date">Please Enter a Valid Date(mm/dd/yyyy)</div>
							</div>

							<input name="numberOfSprints" type="number" class="input" ng-model="ngDialogData.pi.numberOfSprints" placeholder="Enter Number of Sprints"        required min="1">
							<div ng-messages="programIncrementForm.numberOfSprints.$touched && programIncrementForm.numberOfSprints.$error" role="alert"  class="validation-messages">
								<div ng-message="required">Enter Number of Sprints</div>
								<div ng-message="min">Your field value is lesser minimum value of one</div>
							</div>

							<input name="lengthOfSprint"  type="number" class="input" ng-model="ngDialogData.pi.lengthOfSprint"  placeholder="Enter Length of Spring (Weeks)" required min="2">
							<div ng-messages="programIncrementForm.lengthOfSprint.$touched && programIncrementForm.lengthOfSprint.$error" role="alert"  class="validation-messages">
								<div ng-message="required">Enter Length of Sprint</div>
								<div ng-message="min">Your field value is lesser minimum value of two</div>
							</div>

					</div>
		    </div>
			</div>
			<div class="ngdialog-buttons" ng-class="{'disabled' : programIncrementForm.$invalid}">
		    <a class="fl-button {{ button.cls }}"
		      ng-click="button.action(programIncrementForm)"
		      ng-repeat="button in ngDialogData.buttons">
		      <i class="fa {{ button.icon }}" ng-class="{ 'fa-spinner fa-spin': button.loading }"></i>{{ button.title }}
				</a>
			</div>
	</form>
</div>
