@import "variables.styl";
.route-dashboard-dashboard {
	.dashboard-body{
		margin-top: 28px;
		display: flex;
		.left-section{
			padding: 20px;
			height: calc(100vh - 68px);
			flex: 1;
		}
		.right-section{
			padding: 20px;
			height: calc(100vh - 68px);
			background: linear-gradient(to bottom, $augmentedColorDark  0, $augmentedColorLight 100%);
			flex: 1;
		}
	}
}
