<div class="route-dashboard-dashboard" ng-controller="DashboardCtrl as route">
  <cmpt-ui-loader ng-if="route.vm.isLoading"></cmpt-ui-loader>

  <cmpt-dashboard-pi-selector selected="selectedPi" open="route.vm.open"></cmpt-dashboard-pi-selector>
  <div class="dashboard-body" ng-class="{'panel-open': route.vm.open}">
    <div class="left-section">
      <cmpt-dashboard-pi-summary selected-pi="selectedPi"></cmpt-dashboard-pi-summary>
      <cmpt-dashboard-overall-progress teams="route.vm.teams"></cmpt-dashboard-overall-progress>
      <div class="objective-bar--timeline">
        <cmpt-ui-time-line blocks="7"></cmpt-ui-time-line>
        <div class="empty">&nbsp;</div>
      </div>
    </div>
    <div class="right-section">
      <div class="title">TEAM COMMITMENTS</div>
      <div class="header">
        <div class="empty"></div>
        <div class="commitment">COMMITTED</div>
        <div class="stretch">STRETCH</div>
      </div>
      <div ng-repeat="team in route.vm.teams">
        <cmpt-dashboard-team-progress team="team"></cmpt-dashboard-team-progress>
      </div>
    </div>
  </div>
</div>
