<div class="route-dashboard-dashboard" ng-controller="DashboardCtrl as route">
  <cmpt-ui-loader ng-if="route.vm.isLoading"></cmpt-ui-loader>
  <cmpt-dashboard-pi-selector selected="selectedPi"></cmpt-dashboard-pi-selector>
  <div class="dashboard-body">
    <div class="left-section">
      <h1>Left Section</h1>
    </div>
    <div class="right-section">
      <div class="title">TEAM COMMITMENTS</div>
      <div class="header">
        <div class="empty"></div>
        <div class="commitment">COMMITTED</div>
        <div class="stretch">STRETCH</div>
      </div>
      <div ng-repeat="team in route.vm.teams">
        <cmpt-dashboard-team-progress team="team"></cmpt-dashboard-team-progress>
      </div>
    </div>
  </div>
</div>
