@import "variables.styl"
.cmpt-objectives-pi-selector {
	.selector{
		color: $ap-light-grey-4;
		.details{
			font-size: 30px;
			font-weight: bold;
			opacity: 0.5;
			margin: 10px 0;
		}
	}
}
