@import "variables.styl"
.cmpt-objectives-pi-selector {
	.selector{
		color: $ap-light-grey-4;
		font-size: 40px;
		.info {
			float: left;
			margin: 0 40px
			text-align: center;
			height: 90px;
		}
		.arrow {
			float: left;
			display: flex;
  		align-items: center;
			height: 90px;
			cursor: pointer;
			&.disabled{
				cursor: not-allowed;
				opacity: 0.2;
			}
		}
		.description{
			font-size: 20px;
			opacity: 0.5;
		}
		.dates{
			font-size: 20px;
		}
	}
}
