@import "variables.styl"
.cmpt-users-list {		
		.no-data{
			margin-top: 10px;
			border: 2px dashed $mediumGreen;
			border-radius: 5px;
			padding: 50px;
			text-align: center;
			color: $mediumGreen;
			font-weight: bold;
		}
}
