@import "variables.styl"
.cmpt-users-list {
		.input{
			width: 285px
		}
		.no-data{
			border: 2px dashed $mediumGreen;
			border-radius: 5px;
			padding: 50px;
			text-align: center;
			color: $mediumGreen;
			font-weight: bold;
		}
}
