<div class="cmpt-users-list">
	<h1>Team Owners</h1>
	<cmpt-ui-loader ng-if="vm.isLoading"></cmpt-ui-loader>
	<div ng-if="!vm.isLoading">
		<div><button class="button button-positive" ng-click="go.addUser()"><i class="fa fa-plus" aria-hidden="true"></i><span>Add Owner</span></button></div>
		<div class="team-list" ng-show="vm.users.length > 0">
			<div class="grid">
				<div class="grid-header">
					<div class="grid-cell -u-10-24">Name</div>
					<div class="grid-cell -u-10-24">Email</div>
					<div class="grid-cell -u-4-24">Action</div>
				</div>
				<div class="grid-body">
					<div class="grid-content" ng-repeat="user in vm.users">
						<div class="grid-cell -u-10-24">
							<div class="user-name" ng-show="!user.isEditing">
								{{ user.firstName }}, {{ user.lastName }}
							</div>
							<div  class="user-name" ng-show="user.isEditing">
								<div class="-u-12-24">
									<input type="text" class="input" ng-model="user.firstName" placeholder="First Name">
								</div>
								<div class="-u-12-24">
									<input type="text" class="input" ng-model="user.lastName" placeholder="Last Name">									
								</div>
							</div>
						</div>
						<div class="grid-cell -u-10-24">
							<div class="user-email">
								{{ user.email }}
							</div>
						</div>
						<div class="grid-cell -u-4-24">
							<button ng-show="!user.isEditing" class="button button-positive" ng-click="go.toggleMode(user)"><i class="fa fa-pencil"></i></button>
							<button ng-show="!user.isEditing" class="button button-negative" ng-click="go.delete(user)"><i class="fa fa-trash" aria-hidden="true"></i></button>
							<button ng-show="user.isEditing" class="button button-positive" ng-click="go.save(user)"><i class="fa fa-check"></i></button>
							<button ng-show="user.isEditing" class="button button-negative" ng-click="go.cancel(user)"><i class="fa fa-times" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="no-data" ng-show="vm.users.length <= 0">
			Create Users
		</div>
	</div>
</div>
