@import "variables.styl"
.cmpt-topbar-header {
	background-color: $augmentedColorLight;
	border-bottom: 1px solid $augmentedColorDark;
  min-height: $top-bar-min-height;
	.left-content{
		text-align: left;
		.cmpt-login-logo{
			padding: 0 10px;
			float: left;
			img {
				height: 65px;
				width: 65px;
			}
		}
		.org-name{
			font-size: 30px;
    	color: #fff;
    	cursor: pointer;
    	padding: 19px 88px;
		}
	}
	.right-content{
		text-align: right;
		& > div{
			display: inline-block;
			vertical-align: middle;
			.name{
				padding: 0 12px;
				color: $ap-light-grey-4;
				font-size: 22px;
				font-weight: bold;
			}
			.type{
				padding: 0 12px;
				color: $ap-light-grey-4;
				font-size: 15px;
			}
		}
		button{
			margin: 0;
	    background-color: transparent;
	    height: $top-bar-min-height;
	    border-left: 1px solid $augmentedColorDark;
	    border-radius: 0;
			font-size: 16px;
			i {
				margin-left: 5px;
			}
			&.bell{
				position: relative;
				font-size: 25px
				i {
					&:hover{
						 animation: ring 1.5s ease;
					}
				}
				span {
					position: absolute;
			    top: 15px;
			    background: $ap-light-grey-4;
			    font-size: 12px;
			    color: $augmentedColorDark;
			    padding: 1px 3px;
			    border-radius: 20px;
			    margin: 0;
			    right: 7px;
				}
			}
			&.logout{
				&:hover{
					background-color: $baseColorLight;
				}
			}
		}
	}

	// @-webkit-keyframes ring {
  //   0% {
  //       -webkit-transform: rotate(35deg);
  //   }
  //   12.5% {
  //       -webkit-transform: rotate(-30deg);
  //   }
  //   25% {
  //       -webkit-transform: rotate(25deg);
  //   }
  //   37.5% {
  //       -webkit-transform: rotate(-20deg);
  //   }
  //   50% {
  //       -webkit-transform: rotate(15deg);
  //   }
  //   62.5% {
  //       -webkit-transform: rotate(-10deg);
  //   }
  //   75% {
  //       -webkit-transform: rotate(5deg);
  //   }
  //   100% {
  //       -webkit-transform: rotate(0deg);
	//   }
	// }

	@keyframes ring {
	    0% {
	        -webkit-transform: rotate(35deg);
	        transform: rotate(35deg);
	    }
	    12.5% {
	        -webkit-transform: rotate(-30deg);
	        transform: rotate(-30deg);
	    }
	    25% {
	        -webkit-transform: rotate(25deg);
	        transform: rotate(25deg);
	    }
	    37.5% {
	        -webkit-transform: rotate(-20deg);
	        transform: rotate(-20deg);
	    }
	    50% {
	        -webkit-transform: rotate(15deg);
	        transform: rotate(15deg);
	    }
	    62.5% {
	        -webkit-transform: rotate(-10deg);
	        transform: rotate(-10deg);
	    }
	    75% {
	        -webkit-transform: rotate(5deg);
	        transform: rotate(5deg);
	    }
	    100% {
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	    }
	}

}
