@import "variables.styl"
.cmpt-organization-kip {
	color: $ap-light-grey-4;
	.kpi-data{
		width: 25%;
		text-align: center;
		input {
			width: 100px;
			padding: 6px;
			margin-right: 2px;
		}
	}
	.no-data{
		margin-top: 10px;
		border: 2px dashed $mediumBlue;
		border-radius: 5px;
		padding: 50px;
		text-align: center;
		color: $mediumBlue;
		font-weight: bold;
	}
}
