<div class="cmpt-objectives-manage-objectives" ng-class="{'container-green' : type === '1', 'container-blue': type !== '1'}">
	<cmpt-ui-loader ng-if="vm.isLoading"></cmpt-ui-loader>
	<div ng-if="!vm.isLoading">
		<div><button class="button button-default" ng-click="go.objective()"><i class="fa fa-plus" aria-hidden="true"></i><span>Add {{ vm.type }}</span></button></div>
		<div ng-show="vm.objectives.length > 0">
			<div class="grid">
				<div class="grid-header">
					<div class="grid-cell -u-9-24">Title</div>
					<div class="grid-cell -u-3-24">Business Value</div>
					<div class="grid-cell -u-8-24">State</div>
					<div class="grid-cell -u-4-24">Action</div>
				</div>
				<div class="grid-body">
					<div class="grid-content" ng-repeat="objective in vm.objectives">
						<div class="grid-cell -u-9-24">
							<div ng-show="!objective.isEditing">
								{{ objective.title }}
							</div>
							<div ng-show="objective.isEditing">
								<input type="text" class="input" ng-model="objective.title" placeholder="Enter objective">
							</div>
						</div>
						<div class="grid-cell -u-3-24">
							<div ng-show="!objective.isEditing || vm.context.userRole === 2">
								{{ (objective.businessValue === 0) ? 'Value not assigned' : objective.businessValue }}
							</div>
							<div ng-show="objective.isEditing && vm.context.userRole === 1">
								<input type="number" class="input" ng-model="objective.businessValue" placeholder="Enter Business Value">
							</div>
						</div>
						<div class="grid-cell -u-8-24">
								<cmpt-ui-state-selector selected="objective.state" update-state="go.updateState(objective)"></cmpt-ui-state-selector>
						</div>
						<div class="grid-cell -u-4-24">
							<button ng-show="!objective.isEditing" class="button button-positive" ng-click="go.toggleMode(objective)"><i class="fa fa-pencil"></i></button>
							<button ng-show="!objective.isEditing" class="button button-negative" ng-click="go.delete(objective)"><i class="fa fa-trash" aria-hidden="true"></i></button>
							<button ng-show="objective.isEditing" class="button button-positive" ng-click="go.save(objective)"><i class="fa fa-check"></i></button>
							<button ng-show="objective.isEditing" class="button button-negative" ng-click="go.cancel(objective)"><i class="fa fa-times" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="no-data" ng-show="vm.objectives.length <= 0">
			Add {{ vm.type }}
		</div>
	</div>
</div>
