@import "variables.styl"
.cmpt-team-list {
	padding: 20px;
	.no-data{
		border: 2px dashed $mediumBlue;
		border-radius: 5px;
		padding: 50px;
		text-align: center;
		color: $mediumBlue;
		font-weight: bold;
	}

	.table{
		 .team-name{
			 display: inline-block;
			 width: 400px;
			 input{
				 width: 400px;
			 }
		 }
	}

}
