<div class="cmpt-team-list">
	<h1>Teams</h1>
	<cmpt-ui-loader ng-if="vm.isLoading"></cmpt-ui-loader>
	<div ng-if="!vm.isLoading">
		<div><button class="button button-primary" ng-click="go.addTeam()"><i class="fa fa-plus" aria-hidden="true"></i><span>Add Team</span></button></div>
		<div class="team-list" ng-show="vm.teams.length > 0">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Owner</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody ng-repeat="team in vm.teams">
					<tr>
						<td>
							<div class="team-name" ng-show="!team.isEditing">
								{{ team.teamName }}
							</div>
							<div  class="team-name" ng-show="team.isEditing">
								<input type="text" class="input" ng-model="team.teamName">
							</div>
						</td>
						<td>
							Owner Id:: {{ team.ownerId }}
						</td>
						<td>
							<button ng-show="!team.isEditing" class="button button-positive" ng-click="go.toggleMode(team)"><i class="fa fa-pencil"></i></button>
							<button ng-show="!team.isEditing" class="button button-negative" ng-click="go.delete(team)"><i class="fa fa-trash" aria-hidden="true"></i></button>
							<button ng-show="team.isEditing" class="button button-positive" ng-click="go.save(team)"><i class="fa fa-check"></i></button>
							<button ng-show="team.isEditing" class="button button-negative" ng-click="go.cancel(team)"><i class="fa fa-times" aria-hidden="true"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="no-data" ng-show="vm.teams.length <= 0">
			Create Teams
		</div>
	</div>
</div>
