@import "variables.styl"

$progressBarBackground = rgba(0,66,85,.2);
$progressBarBorderColor = #08496a;
$progressBarBoxShadowColor = rgba(0,27,42,.8);

.cmpt-ui-stacked-progress-bar {
	 margin 50px 0;
  .title-bar {
    display: flex;
    span { 
      flex: 1;
      &:last-child{
        text-align: right;
      }
    }
  }
  .progressBar {
  	padding: 1px;
  	height: 2.5vw;
  	box-shadow: 1px 1px 3px $progressBarBoxShadowColor;
  	border: 1px solid $progressBarBorderColor;
  	background: $progressBarBackground;
  	margin-bottom: .4vw;
  	text-align: center;
  	position: relative;
  	transition: all 160ms ease-in-out;

  	.arrow-status {
  		display: flex;
  		align-items: center;
  		height: 100%;
  		width: 100%;
  		transition: all 160ms ease-in-out;
  		font-size: 1.2vw;
      float: left;
      &:last-child{
        border-right: 0;
      }
  		&.light {
  			background: $lightBlue;
  		}

  		&.medium {
  			background: $mediumBlue;
  		}

  		&.dark {
  			background: $darkBlue;
  		}

  		&.green {
  			background: $mediumGreen;
  		}
    	&.grey {
  			background: $mediumGrey;
  		}
    	&.red {
  			background: $mediumRed;
  		}
  		span {
  			margin-left: 10px;

  			&.status {
  				position: absolute;
  				right: 10px;
          top:0;
  				opacity: .6;
  				line-height: 2.5em;
  				font-size: 0.8vw;
  			}
  		}

  		sup {
  			font-size: 1.2vw;
  		}
  	}
  }
  .legend{
    display: flex;
    div {
      flex:1;
      font-size: 14px;

      span {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        vertical-align: top;

        &.medium {
    			background: $mediumBlue;
    		}

    		&.dark {
    			background: $darkBlue;
    		}

    		&.green {
    			background: $mediumGreen;
    		}
      	&.grey {
    			background: $mediumGrey;
    		}
      	&.red {
    			background: $mediumRed;
    		}
      }
    }
  }
}
