<div class="cmpt-login-authentication">
	<div class="content -g">
		<div class="app-title -u-12-24">SAFe Tracker</div>
		<div class="auth-section -u-12-24">
				<div class="-g label">
					<div class="-u-10-24">User Id</div>
					<div class="-u-10-24">Password</div>
					<div class="-u-4-24"></div>
				</div>
				<div class="-g">
					<div class="-u-10-24"><input class="input" type="text" name="name" value=""></div>
					<div class="-u-10-24"><input class="input" type="password" name="name" value=""></div>
					<div class="-u-4-24"><button class="button button-parimary"type="button" name="button">Login</button></div>
				</div>
				<div class="-g forgot-password">
					<div class="-u-10-24"></div>
					<div class="-u-10-24">Forgot account?</div>
					<div class="-u-4-24"></div>
				</div>
		</div>
	</div>
</div>
