<div class="cmpt-login-authentication">
	<div class="content -g">
		<div class="app-title -u-12-24">SAFe Tracker</div>
		<div class="auth-section -u-12-24">
				<div class="-g label">
					<div class="-u-10-24">User Id</div>
					<div class="-u-10-24">Password</div>
					<div class="-u-4-24"></div>
				</div>
				<div class="-g">
					<div class="-u-10-24">
						<input class="input" type="text" name="name" value="" ng-model="vm.username">
					</div>
					<div class="-u-10-24">
						<input class="input" type="password" name="name" value="" ng-model="vm.password">
					</div>
					<div class="-u-4-24">
						<button class="button button-primary"type="button" name="button" ng-click="go.login()">Login</button>
					</div>
				</div>
				<div ng-click="go.forgotPass()" class="-g forgot-password">
					<div class="-u-10-24"></div>
					<a div class="-u-10-24">Forgot Password?</div> </a>
					<div class="-u-4-24"></div>
				</div>
		</div>
	</div>
</div>
