@import "variables.styl"
.cmpt-login-authentication {
	background-color: $augmentedColorLight;
	border-bottom: 1px solid $augmentedColorDark;
  min-height: 100px;
	.content{
		margin: 0 auto;
    padding-top: 13px;
		padding-bottom: 13px;
    width: 980px
		.app-title{
			color: $ap-light-grey-3;
			font-size: 45px;
			text-shadow: rgb(224, 224, 224) 1px 1px 0px;
		}
		.auth-section{
			.label, .forgot-password{
				color: $ap-light-grey-3;
			}
		}
	}
}
