@import "variables.styl"
.cmpt-landing-page-dashboard-link {
	.bar{
		color: $ap-light-grey-4;
		display: flex;
		line-height: 2;
		margin-bottom: 0.2em;
		background: $baseColorLight;
		border-radius: 5px;
		div {
			font-size: 1.5vh;
			padding: 5px;
			cursor: pointer;
		}
		.title{
			flex: 0.8;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			border: 1px solid;
			border-right: 0px;
			border-color: #111 #0a0a0a #000;
			background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6));
	    box-shadow: inset 0 1px rgba(255,255,255,0.1), 0 1px 1px rgba(0,0,0,0.6);
			&:active{
				background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
			}
		}
		.input{
			flex: 1;
			margin: 0;
	    border-radius: 0;
	    border-color: #111 #0a0a0a #000;
			box-shadow: none;
			user-select: none;
			box-shadow: inset 0 1px rgba(255,255,255,0.1), 0 0.5px 1px rgba(0,0,0,0.6);
		}
		.clipboard{
			text-align: center;
			flex: 0.2;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			border: 1px solid;
			border-left: 0px;
			border-color: #111 #0a0a0a #000;
			background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6));
	    box-shadow: inset 0 1px rgba(255,255,255,0.1), 0 1px 1px rgba(0,0,0,0.6);
			&:active{
				background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
			}
		}

	}
	.load-more{
		cursor: pointer;
		color: $ap-dark-grey-3;
		text-align: center;
	}

	.copied::after {
	  content: "copied";
	}

}
