@import "variables.styl"
.cmpt-login-logo {
		position: relative;
		i {
			width: 100%;
			position: absolute;
			font-size: 100px;
			color: $augmentedColorLight;
			background-color: transparent;
			text-shadow: 0px 1px 0px rgba(111, 111, 111, 0.5); /* 50% white from bottom */
		}
		.fa-circle-thin{
			font-size: 300px;
			text-align: center;
		}
		.fa-group{
			&.one{
				top:95px;
				left: 50%;
			}
		}
}
