@import "variables.styl"
.cmpt-program-increment-details {
		.no-data{
			border: 2px dashed $mediumBlue;
			border-radius: 5px;
			padding: 50px;
			text-align: center;
			color: $mediumBlue;
			font-weight: bold;
		}
}
