.cmpt-reset-password {
	text-align: center;
	padding: 360px;
	.title{
		font-size: 20px;
		color: $ap-light-grey-4
	}
	input{
		text-align: center;
		font-size: 40px;
		width: 400px;
	}
	.reset-buttons{
    &.disabled{
      a {
      opacity: 0.5;
      cursor: not-allowed;
      }
      a {
      &.button-default{
        opacity:1;
        cursor: pointer;
        }
      }
    }
  }
}
