.cmpt-login-authentication {
  background-color: #113148;
  border-bottom: 1px solid #001322;
  min-height: 70px;
}
.cmpt-login-authentication .content {
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 980px;
}
.cmpt-login-authentication .content .app-title {
  color: #fafafa;
  font-size: 45px;
  text-shadow: #e0e0e0 1px 1px 0px;
  margin: auto 0;
}
.cmpt-login-authentication .content .auth-section .label,
.cmpt-login-authentication .content .auth-section .forgot-password {
  color: #fafafa;
}
.cmpt-login-authentication .content .auth-section input {
  width: 170px;
}
.cmpt-login-logo {
  position: relative;
}
.cmpt-login-logo i {
  width: 100%;
  position: absolute;
  font-size: 100px;
  color: #113148;
  background-color: transparent;
  text-shadow: 0px 1px 0px rgba(111,111,111,0.5); /* 50% white from bottom */
}
.cmpt-login-logo .fa-circle-thin {
  font-size: 300px;
  text-align: center;
}
.cmpt-login-logo .fa-group.one {
  top: 95px;
  text-align: center;
}
.cmpt-login-sign-up {
  height: calc(100vh - 40px);
}
.cmpt-login-sign-up .content {
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 980px;
}
.cmpt-login-sign-up .content .logo {
  margin: 20px 0;
}
.cmpt-login-sign-up .content .sign-up-form > div {
  margin: 5px 0;
}
.cmpt-login-sign-up .content .sign-up-form .title {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}
.cmpt-login-sign-up .content .sign-up-form .button {
  font-size: 25px;
  width: 200px;
}
.cmpt-login-sign-up .content .sign-up-form .input {
  font-size: 25px;
  width: 454px;
}
.cmpt-login-sign-up .content .sign-up-form .two-side-by-side .input {
  width: 210px;
}
.cmpt-nav-menu {
  display: inline-block;
  width: 140px;
  height: calc(100vh);
  border-right: 1px solid #001322;
}
.cmpt-nav-menu ul a {
  color: #fff;
  text-decoration: none;
}
.cmpt-nav-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #001322;
  color: #fff;
  cursor: pointer;
}
.cmpt-nav-menu ul li i {
  margin-right: 5px;
}
.cmpt-nav-menu ul li:hover {
  background-color: #113148;
}
.cmpt-organization-details {
  padding: 20px;
}
.cmpt-organization-details .title {
  font-size: 20px;
  color: #fff;
}
.cmpt-organization-details input {
  width: 205px;
}
.cmpt-topbar-header {
  background-color: #113148;
  border-bottom: 1px solid #001322;
  min-height: 70px;
}
.cmpt-topbar-header .left-content {
  text-align: left;
}
.cmpt-topbar-header .left-content .cmpt-login-logo {
  padding: 0 10px;
}
.cmpt-topbar-header .left-content .cmpt-login-logo i {
  color: #19486a;
}
.cmpt-topbar-header .left-content .cmpt-login-logo .fa-circle-thin {
  font-size: 70px;
  text-align: left;
  width: 60px;
}
.cmpt-topbar-header .left-content .cmpt-login-logo .fa-group.one {
  font-size: 35px;
  top: 18px;
  text-align: left;
  left: 22px;
  width: 40px;
}
.cmpt-topbar-header .left-content .org-name {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  padding: 19px 88px;
}
.cmpt-topbar-header .right-content {
  text-align: right;
}
.cmpt-topbar-header .right-content > div {
  display: inline-block;
  vertical-align: middle;
}
.cmpt-topbar-header .right-content > div .name {
  padding: 0 12px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.cmpt-topbar-header .right-content > div .type {
  padding: 0 12px;
  color: #fff;
  font-size: 15px;
}
.cmpt-topbar-header .right-content button {
  margin: 0;
  background-color: transparent;
  height: 70px;
  border-left: 1px solid #fff;
  border-radius: 0;
}
.cmpt-topbar-header .right-content button:hover {
  background-color: #132a3b;
}
.modal-create-org input {
  width: 100%;
  background: #fff;
  color: #113148;
}
body {
  margin: 0;
  font-family: 'Ropa Sans';
  height: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background: #132a3b;
}
.input {
  display: inline-block;
  padding: 6px 12px;
  margin: 5px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  -webkit-box-shadow: 1px 1px 3px rgba(0,27,42,0.8);
  box-shadow: 1px 1px 3px rgba(0,27,42,0.8);
  border: 1px solid #08496a;
  background: rgba(0,66,85,0.2);
  color: #fff;
  border-radius: 2px;
}
.button {
  display: inline-block;
  padding: 6px 12px;
  margin: 5px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  background-color: #28597b;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: none;
  border-radius: 4px;
}
.button:hover {
  background-color: #24506f;
}
.button.button-positive {
  background-color: #00c7c3;
}
.button.button-positive:hover {
  background-color: #00bdb9;
}
.button.button-primary {
  background-color: #0af;
}
.button.button-primary:hover {
  background-color: #0099e6;
}
.button.button-negative {
  background-color: #d95b5b;
}
.button.button-negative:hover {
  background-color: #d64e4e;
}
.dialog-popup .ngdialog-message > div {
  margin: 0 1rem 1rem 1rem;
}
.dialog-popup .ngdialog-message .header {
  font-size: 1.2rem;
  color: #fff;
  background: none repeat scroll 0% 0% #28597b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 0 1rem 0;
  padding: 0.7rem 2.7rem 0.7rem 1rem;
}
.dialog-popup .ngdialog-message .content {
  font-size: 1rem;
}
.dialog-popup .ngdialog-buttons a {
  float: right;
  margin-left: 5px;
}
.dialog-popup .ngdialog-buttons a.fl-link {
  font-size: 14px;
  margin: 6px 24px;
  color: #404040;
  cursor: pointer;
}
.dialog-popup .ngdialog-buttons a i {
  margin-right: 5px;
}
.ngdialog-overlay {
  background: rgba(0,0,0,0.6);
}
.ngdialog-close {
  content: '\f05c';
}
