@import "variables.styl"
.cmpt-landing-page-blocked-items {
	.pi{
		cursor: pointer;
		.title{
			font-size: 1.6vh;
		}
		.description{
			color: $ap-dark-grey-3;
			font-size: 1.4vh;
		}
		.count{
			font-size: 2.5vh;
			color: $mediumYellow;
			margin-right: 5px;
		}
	}
	.no-data{
		font-size: 1.5vw;
		color: $darkBlue;
		padding: 1.5vw;
		text-align: center;
	}
}
