@import "variables.styl"
.cmpt-landing-page-blocked-items {
	.pi{
		cursor: pointer;
		.title{
			font-size: 2vh;
		}
		.description{
			color: $ap-dark-grey-3;
		}
		.count{
			font-size: 2.5vh;
			color: $mediumRed;
		}
	}
}
