<div class="route-list-objectives-objectives" ng-controller="ObjectivesCtrl as route">
  <cmpt-topbar-header></cmpt-topbar-header>
  <div class="-g">
    <cmpt-nav-menu class="-u-4-24"></cmpt-nav-menu>
    <div class="main-content -u-18-24">
      <h1>Manage Objectives</h1>
      <cmpt-objectives-pi-selector selected="route.vm.selectedPi"></cmpt-objectives-pi-selector>
      <cmpt-objectives-team-selector selected="route.vm.selectedTeam"></cmpt-objectives-team-selector>
      <cmpt-objectives-manage-objectives
        ng-if="route.vm.selectedPi && route.vm.selectedTeam"
        selected-pi="route.vm.selectedPi"
        selected-team="route.vm.selectedTeam"
        type="1"
      ></cmpt-objectives-manage-objectives>

      <cmpt-objectives-manage-objectives
        ng-if="route.vm.selectedPi && route.vm.selectedTeam"
        selected-pi="route.vm.selectedPi"
        selected-team="route.vm.selectedTeam"
        type="2"
      ></cmpt-objectives-manage-objectives>
    </div>


  </div>
</div>
