<div class="cmpt-organization-details">
	<h1>Organization Details</h1>
	<form name="orgForm">
		<div class="input-container">
				<input type="text" class="input" placeholder="Name" name="orgName" value="" ng-model="vm.org.orgName" required ng-minlength="6">
				<div ng-messages="orgForm.orgName.$touched && orgForm.orgName.$error" role="alert"  class="validation-messages">
					<div ng-message="required">Enter Organization Name</div>
					<div ng-message="minlength">Length of Organization Name should be at least 6 characters long</div>
				</div>
		</div>
		<div>
			<button class="button button-positive" ng-click="go.updateOrg(vm.org)" ng-disabled="orgForm.$invalid"><i class="fa fa-check" aria-hidden="true"></i><span>Update</span></button>
		</div>
	</form>
</div>
