.cmpt-organization-details {
	.title{
		font-size: 20px;
		color: $ap-light-grey-4
	}
	input{
		width: 205px;
	}
	.sub-heading{
		margin: 10px 0 0 0;
		padding: 10px 0 0 0;
		border-top: 1px solid #1f395d;
		color: $ap-dark-grey-3;
		font-size: 30px;
	}
	.row{
		margin: 20px 0;
		.label{
			color: $ap-light-grey-4;
			i {
				margin-left: 5px;
				cursor: pointer;
			}
		}
	}
	.action{
		margin: 10px 0 0 0;
		padding: 10px 0 0 0;
		border-top: 1px solid #1f395d;
	}


}
